*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.085rem;
}

body{
  background-color: black;
}

#banner{
  margin: 2rem;
  display: flex;
  justify-content: center;
}

#banner img{
  height: 45rem;
  width: 200rem;
  margin: 0rem 10rem;
  border-radius: 2rem;
}

#opcoes{
  margin: 0rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  cursor: pointer;
}

#opcoes p{
  margin: 1rem;
  gap: 5rem;
  background-color: blanchedalmond;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2.25rem;
}

#cardapio{
  margin: 2rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item{
  cursor: pointer;
  align-items: center;
  margin: 1rem;
  gap: 5rem;
  background-color: blanchedalmond;
  padding: 5rem;
  display: flex;
  border-radius: 2rem;
}

.descricao h2{
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

.descricao p{
  margin-bottom: 2rem;
}

.descricao h2{
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

.imagem img{
  height: 25rem;
  width: 35rem;
  border-radius: 2rem;
}