* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}

body {
  overflow-x: hidden;
  margin: 0rem 15rem;
  background-color: black;
}

#banner {
  display: flex;
  justify-content: center;
}

#banner img {
  height: 20rem;
  width: 100%;
  border-radius: 0rem 0rem 2rem 2rem;
}

#opcoes {
  margin: 2rem 0rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

#opcoes button {
  cursor: pointer;
  background-color: blanchedalmond;
  padding: 2rem;
  border-radius: 1rem;
}

#cardapio {
  gap: 2rem;
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  cursor: pointer;
  align-items: center;
  background-color: blanchedalmond;
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
}

.descricao h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.descricao p {
  margin-bottom: 1rem;
}

.imagem img {
  height: auto;
  max-width: 20rem;
  border-radius: 2rem;
}

@media (max-width: 600px) {

  * {
    font-size: 0.85rem;
  }

  body {
    overflow-x: hidden;
    margin: 0rem 0.5rem;
  }

  #banner img {
    height: 7.5rem;
    width: 100%;
    border-radius: 0rem 0rem 0.75rem 0.75rem;
  }

  #opcoes {
    margin: 0.5rem 0rem;
    gap: 0.25rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  #opcoes button {
    padding: 1.5rem 0rem;
    border-radius: 1rem;
  }

  #cardapio {
    margin: 0rem;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .item {
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .descricao h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .descricao p {
    margin-bottom: .5rem;
  }

  .imagem img {
    height: auto;
    width: 10rem;
    border-radius: 1rem;
  }
}