#banner{
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  
}

#banner img{
  width: 3000px;
  border-radius: 5rem;
}

#cardapio{
  display: grid;
  grid-column: auto auto;
}

#cardapio img{
  width: 1000px;
}